<div class="login-page-container">
    <div class="login-page-form">
        <div class="xen-logo">
            <img src="../../assets/images/xen.ai_logo.png" />
        </div>
        <div class="login-page-form-fields">
            <div class="login-page-form-field">
                <img src="../../assets/images/usericon.png" class="login-page-form-field-icon"/>
                <input class="login-page-form-field-input" type="email"/>
            </div>
            <div class="login-page-form-field">
                <img src="../../assets/images/locked.png" class="login-page-form-field-icon"/>
                <input class="login-page-form-field-input" type="{{passwordType}}"/>
                <span 
                    class="login-page-form-field-btn-icon"
                    (click)="togglePassType()"
                >
                    <img src="../../assets/images/invisible.png"/>
                </span>
            </div>
        </div>
        <div class="login-page-btn-wrapper">
            <button
                routerLink="/dashboard"
                class="login-page-btn"
            >
                Login
            </button
            >
        </div>
    </div>    
</div>