.login-page {
  &-container {
    height: 100vh;
    background: url("../../assets/images/bg-01.png");
  }
  &-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;

    .xen-logo{
        margin: 2rem 0;
    }

    &-fields {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    &-field {
      margin: 0.7rem 0;
      min-width: 30rem;
      background: #fff;
      border: 1px solid #707070;
      border-radius: 5px;
      position: relative;

      &-icon {
        position: absolute;
        top: 50%;
        height: 1.5rem;
        margin-top: -0.8rem;
        left: 1.5rem;
      }

      &-btn-icon {
        position: absolute;
        margin-top: -0.8rem;
        right: 1.5rem;
        top: 50%;
        cursor: pointer;

        img {
            height: 1.5rem;
        }
      }

      &-input {
        width: 100%;
        height: 100%;
        padding: 0.5rem 4rem;
        box-sizing: border-box;
        border: none;
        border-radius: 5px;
        font-size: 1.2rem;
      }
    }

    .login-text {
      color: #fff;
    }
  }

  &-btn {
    width: 11rem;
    padding: 0.5rem 0.4rem;
    border-radius: 35px;
    border: 1px solid #707070;
    font-size: 1.5rem;
    box-shadow: 0 3px 6px #0000001a;
    cursor: pointer;

    &:focus {
        outline: none;
    }

    &-wrapper{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
  }
}
