<nav class="navbar navbar-light bg-light justify-content-between xen-header">
    <a class="navbar-brand" href="#">
        <img src="../../../assets/images/xen.ai_logo.png" class="header-logo" />
    </a>
    <div>
        <a routerLink="/" class="xen-link logout-link">Logout</a>
    </div>
</nav>
<div class="container-fluid">
    <div class="xen-home-wrapper m-auto">
        <div class="row dashboard-section mt-4" *ngFor="let item of dashItems">
            <div class="col-md-12 dashboard-section-title p-0">
                {{item.sectionTitle}}
            </div>
            <hr class="dashboard-section-seperator w-100" />
            <div class="col-md-12">
                <div class="row">
                    <div 
                        [className]="'col-md-3 dashboard-section-item mr-4 ' + subItem.color"
                        *ngFor="let subItem of item.items"
                        routerLink="{{subItem.url}}"
                    >
                        <div class="dashboard-section-item-title">{{subItem.title}}</div>
                        <div class="dashboard-section-item-icon">
                            <img src="{{subItem.icon}}" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>