.xen-header {
  background: url(../../../assets/images/bg-01.png);

  .header-logo {
    height: 1.5rem;
  }
}

.xen-home-wrapper {
  width: 1200px;
  padding-top: 1rem;
  padding-bottom: 2rem;
  margin-bottom: 1rem;

  .dashboard-section {
    &-title {
        color: #232323;
    }
    &-seperator {
      height: 2px;
      background-color: #b5b5b5;
    }

    &-item {
      background-color: #0c90c1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 1rem;
      border-radius: 10px;
      cursor: pointer;

      &:focus {
          outline: none;
      }

      &:hover {
          opacity: .8;
      }

      &.blue {
        background-image: linear-gradient(to top right, #0c90c1, #3ecae1);
      }

      &.greenBlue {
        background-image: linear-gradient(to top right, #1A8B81, #45CEC1);
      }

      &.pinkRed {
        background-image: linear-gradient(to top right, #EC5D31, #DD7991);
      }

      &.green {
        background-image: linear-gradient(to top right, #0D7038, #3CFBA2);
      }

      &.violet {
        background-image: linear-gradient(to top right, #653C98, #3ECAE1);
      }

      &-title {
        color: #ffffff;
      }

      &-icon {
        height: 90px;
        margin-top: 1rem;
        margin-bottom: 0.5rem;

        img {
          height: 100%;
        }
      }
    }
  }
}
