.xen-doc-header {
  background: #1a8b81 !important;
  height: 56px;

  .header-logo {
    height: 1.5rem;
  }
}

.med-trans-container {
  .main-contents {
    height: calc(100vh - 56px);
  }
  height: 100vh;
  overflow: hidden;

  .left-pane {
    background: #31aa9f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 0 10px 10px 0;
    .pic-container {
      height: 12rem;
      width: 12rem;
      img {
        height: 100%;
        width: 100%;
        object-fit: fill;
      }
    }
    &-title {
      margin: 0.5rem 0;
    }
    &-description {
      text-align: center;
      width: 70%;
      margin: 0.5rem;
    }
  }

  .right-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    .input-item {
      display: flex;
      width: 75%;
      flex-direction: row;
      justify-content: space-between;
      margin: 1rem 0;
      align-items: center;
      padding-top: 1rem;
      padding-bottom: 1rem;
      &-field {
        &.file-input {
          display: none;
        }
      }
      .input-item-box {
        width: 60%;
      }
      .med-trans-select {
        width: 100%;
        border: 2px solid #40c0b5;
        background: #fff;
        border-radius: 5px;
        padding: 0.5rem 3rem 0.5rem 2rem;
        color: #828282;
        text-align: left;
        height: 3.5rem;
        position: relative;

        &-chev {
          position: absolute;
          right: 0.9rem;
          top: 1.3rem;
        }

        &-menu {
          width: 100%;
          &-item {
            cursor: pointer;
          }
        }
      }
      .file-input-box {
        width: 100%;
        border: 2px solid #b2b2b2;
        background: #fff;
        border-radius: 5px;
        padding: 0.5rem 2rem 0.5rem 2rem;
        text-align: left;
        height: 3.5rem;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        justify-content: space-between;
        color: #828282;
      }
    }
    &.file-result-container {
      .result-msg {
        color: red;
      }
      .result-container {
        min-height: 12rem;
        position: relative;

        .loading-png {
          display: none;
          position: absolute;
          top: 50%;
          width: 6rem;
          height: 6rem;
          left: 50%;
          margin-top: -3rem;
          margin-left: -3rem;
          animation-name: spinning;
          animation-duration: 5000ms;
          animation-iteration-count: infinite;
          animation-timing-function: linear;
        }

        &.loading {
          background: #0000000f;
          color: #c5c5c5;

          .loading-png {
            display: initial;
          }
        }
      }
    }
    .med-trans-btn {
      background: #40c0b5;
      color: #fff;
      border-radius: 33px;
      width: 13rem;
      box-shadow: 0 3px 6px #0000001f;
      padding: 0.7rem;
      border: none;
      margin-top: 1rem;
      cursor: pointer;

      &.btn-disabled {
        background: #b1b1b1;
      }

      &:focus {
        outline: none;
      }
    }
  }
}

@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
