<div class="container-fluid med-trans-container px-0">
    <nav class="navbar navbar-light bg-light justify-content-between xen-doc-header">
        <div class="logo-breadcrumb d-flex flex-row">
            <a class="navbar-brand" href="#">
                <img src="../../../assets/images/xen.ai_logo.png" class="header-logo" />
            </a>
        </div>
        <div>
            <a routerLink="/" class="xen-link logout-link">Logout</a>
        </div>
    </nav>
    <div class="row main-contents">
        <div class="col-md-5 left-pane">
            <div class="pic-container">
                <img src="../../assets/images/doc_pc_1.png" />
            </div>
            <div class="left-pane-title">
                Dummy Text
            </div>
            <div class="left-pane-description">

                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s,
            </div>
        </div>
        <div class="col-md-7 right-contents select-audio-container" *ngIf="transcriptionMode == 'upload'">
            <div class="input-item">
                <div class="input-item-title">Doctor Models</div>
                <div class="dropdown input-item-box">
                    <button class="med-trans-select text-truncate" data-toggle="dropdown">
                        {{selectedDoc && selectedDoc.doctor || 'Select Doctor'}}

                        <img src="../../assets/images/arrow-down-icon.png" class="med-trans-select-chev" />
                    </button>
                    <div class="dropdown-menu med-trans-select-menu">
                        <div class="dropdown-item med-trans-select-menu-item" *ngFor="let doc of doctorModels"
                            (click)="onDocSelect(doc)">{{doc.doctor}}</div>
                    </div>
                </div>
            </div>
            <div class="input-item">
                <div class="input-item-title">Select Audio File</div>
                <label class="input-item-file-label input-item-box" for="select-text">
                    <div class="file-input-box">
                        <span *ngIf="!inputFile.name; else selectedInputName">Upload File</span>
                        <ng-template #selectedInputName>
                            <span class="text-truncate">{{inputFile.name}}</span>
                            <div class="progress w-100 mx-2">
                                <div class="progress-bar-animated progress-bar-striped bg-danger" role="progressbar"
                                    style="width: 70%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </ng-template>
                        <img src="../../assets/images/upload_icon.png" />
                    </div>
                </label>
                <input class="input-item-field file-input" type="file" id="select-text"
                    (change)="onInputFile($event)" />
            </div>
            <button class="med-trans-btn" (click)="onTranscribe()">Transcribe</button>
        </div>
        <div class="col-md-7 justify-content-between right-contents select-audio-container file-result-container" *ngIf="transcriptionMode == 'uploaded'">
            <div class="result-msg">
                {{resultMsg}}
            </div>
            <div [class]="'w-100 my-2 p-3 border result-container ' + ((transcribing || modelTraining) && ' loading')">
                {{resultText}}
                <img class="loading-png" src="../../assets/images/loading.png">
            </div>
            <div class="d-flex flex-row justify-content-between w-100">
                <button [class]="'med-trans-btn ' + (transcribing && ' btn-disabled')" (click)="onSaveFile()">Save Text File</button>
                <button [class]="'med-trans-btn ' + (transcribing && ' btn-disabled')">Download results</button>
                <button [class]="'med-trans-btn ' + ((!filesaved || transcribing) && ' btn-disabled')" (click)="onTrainModel()">Train Model</button>
            </div>
            <div class="align-items-baseline d-flex flex-row mt-4 w-100">
                <span>Want to check another result?</span>
                <button class="med-trans-btn ml-4" (click)="onReset()">New transcription</button>
            </div>
        </div>
    </div>
</div>