.xen-doc-header {
  background: #373737 !important;
  height: 56px;

  .header-logo {
    height: 1.5rem;
  }

  .xen-header-breadcrumb {
    display: flex;
    align-items: center;
    margin-left: 1.5rem;
    color: #fff;
  }
}

.doc-container {
  .main-contents {
    height: calc(100vh - 56px);
  }
  height: 100vh;
  overflow: hidden;
  background-image: linear-gradient(to bottom right, #0f4d60, #5090bb);

  .doc-head-text {
    font-size: 30px;
    color: #86e2d5;
  }

  .doc-list {
    overflow-y: scroll;

    &-item {
      padding-bottom: 0.5rem !important;
      padding-top: 0.5rem !important;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      padding-left: 2.5rem !important;
      padding-right: 2.5rem !important;
      cursor: pointer;

      &:hover {
        background-color: #183d4d;
      }

      &-thumb {
        height: 3.5rem;
        margin-right: 0.5rem;
      }
      &-title {
        margin-left: 0.5rem;
        color: #fff;
        flex: 1;
      }
      &-meta {
        color: #86e2d5;
      }

      &.active {
        background-color: #20546b;
      }
    }
  }

  .doc-filter-radio-item {
    font-size: 1rem;
    margin-right: 1rem;
    margin-bottom: 0;
    color: #fff;
    display: flex;
    align-items: center;

    &-checkbox {
      height: 1.2rem;
      margin-right: 1rem;
    }

    input {
      margin-right: 1rem;
      display: none;
    }
  }

  .search-input {
    background: transparent;
    border: none;
    outline: none;
    width: 100%;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    color: #fff;
    &::placeholder {
      color: #aaaaaa;
    }
    &-wrapper {
      border-radius: 20px;
    }
    &-icon {
      img {
        height: 100%;
      }
      position: absolute;
      top: 50%;
      margin-top: -0.8rem;
      height: 1rem;
      right: 1rem;
    }
  }

  .doc-main-container {
    overflow: hidden;
    &-title {
      color: #86e2d5;
      padding-bottom: 1rem;
      border-bottom: 1px solid #fff;
      flex: 1;
    }

    .recently-viewed-item {
      cursor: pointer;
      &:hover {
        opacity: 0.75;
      }

      &-list {
        overflow-y: scroll;
        height: 100%;
        padding-bottom: 3rem;
      }

      img {
        width: 100%;
      }
    }

    &.doc-view {
      background-image: linear-gradient(to bottom right, #10404e, #1b6981);
      .doc-main-container {
        &-title {
          border: none;
        }
      }
      .doc-download-btn {
        height: 1.8rem;
        align-self: center;
      }
      .doc-preview {
        overflow-y: scroll;
        height: 100%;
        padding-bottom: 3rem;

        img {
          width: 100%;
        }
      }
      .summary-box {
        border: 1px solid #fff;
        border-radius: 5px;
        overflow: hidden;

        &-container {
          padding-top: 4rem;
          padding-bottom: 1rem;
        }

        &-title {
          color: #86e2d5;
          font-size: 1.3rem;
          border-bottom: 1px solid #fff;
          padding-bottom: 0.5rem;
        }

        &-content {
          font-size: 1rem;
          color: #fff;
          overflow-y: scroll;
        }
      }
    }
  }
}

::-webkit-scrollbar {
  width: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff;
}
