<div class="container-fluid doc-container px-0">
    <nav class="navbar navbar-light bg-light justify-content-between xen-doc-header">
        <div class="logo-breadcrumb d-flex flex-row">
            <a class="navbar-brand" href="#">
                <img src="../../../assets/images/xen.ai_logo.png" class="header-logo" />
            </a>
            <span class="xen-header-breadcrumb">
                xen.ai / Document viewer
            </span>
        </div>
        <div>
            <a routerLink="/" class="xen-link logout-link">Logout</a>
        </div>
    </nav>
    <div class="row main-contents">
        <div class="border-right col-md-3 d-flex flex-column h-100">
            <div class="row py-3 px-4">
                <div class="col-md-12">
                    <div class="doc-head-text">Documents</div>
                </div>
            </div>
            <div class="doc-list mt-3 pb-3 row">
                <div [className]="'col-md-12 py-2 doc-list-item ' + (activeDoc && activeDoc.id === item.id ? ' active' : '')"
                    *ngFor="let item of filteredDocList" (click)="onSelectDoc(item)">
                    <img class="doc-list-item-thumb" src="{{item.thumb}}" />
                    <span class="doc-list-item-title">{{item.title}}</span>
                    <span class="doc-list-item-meta">{{item.meta}}</span>
                </div>
            </div>
        </div>
        <div class="col-md-9 d-flex flex-column h-100">
            <div class="pb-2 pt-3  row">
                <div class="col-md-5 d-flex flex-row pl-5">
                    <label class="doc-filter-radio-item" *ngFor="let type of searchTypes">
                        <img class="doc-filter-radio-item-checkbox" *ngIf="type.value === searchType; else unchecked"
                            src="../../assets/images/radio_checked.png" />
                        <ng-template #unchecked>
                            <img class="doc-filter-radio-item-checkbox" src="../../assets/images/radio_unchecked.png" />
                        </ng-template>
                        <input type="radio" name="search-doc-type" value="{{type.value}}" [(ngModel)]="searchType"
                            (ngModelChange)="onSearchType($event)" />{{type.title}}
                    </label>
                </div>
                <div class="col-md-7">
                    <div class="bg-transparent border mr-5 position-relative px-5 py-2 search-input-wrapper">
                        <input class="search-input" placeholder="Type your request here" [(ngModel)]="searchText"
                            (ngModelChange)="onSearchText($event)" />
                        <span class="search-input-icon">
                            <img src="../../assets/images/search_icon_sm.png" />
                        </span>
                    </div>
                </div>
            </div>
            <div class="doc-main-container mr-0 pb-3 row" *ngIf="!activeDoc.id; else selectedDoc">
                <div class="col-md-12 px-5">
                    <h3 class="doc-main-container-title mt-2">Recently Viewed</h3>
                </div>
                <div class="col-md-12 px-5 h-100">
                    <div class="row recently-viewed-item-list">
                        <div class="col-md-4 my-4 recently-viewed-item" (click)="onSelectDoc(doc)"
                            *ngFor="let doc of filteredDocList">
                            <img src="{{doc.thumb}}" />
                        </div>
                    </div>
                </div>
            </div>
            <ng-template #selectedDoc>
                <div class="doc-main-container doc-view mr-0 row">
                    <div class="col-md-8 px-5 d-flex flex-column h-100">
                        <div class="d-flex flex-row">
                            <h3 class="doc-main-container-title mt-2">{{activeDoc.title}}</h3>
                            <img class="doc-download-btn" src="../../assets/images/download_icon.png" />
                        </div>
                        <div class="row doc-preview pb-3">
                            <img src="../../assets/images/doc_preview.png" />
                        </div>
                    </div>
                    <div class="col-md-4 h-100 summary-box-container">
                        <div class="summary-box d-flex flex-column p-3 h-100">
                            <h3 class="summary-box-title">Summary</h3>
                            <div class="summary-box-content">
                                {{activeDoc.summary}}
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</div>